<div id="splash">
  <div id="splash-logo"></div>
  <button id="splash-connect" type="button" {{action "view.login" on="tap"}}>Connect to Foursquare</button>
  <div id="splash-message" class="retry">
    <div class="front">
      <span class="title">Network Error</span>
      <span class="description">Please check<br /> your connection</span>
    </div>
    <span class="back">
      <div class="bg-circle"></div>
      <hr />
      <div class="border-circle"></div>
      <div class="inner-circle">
        <div class="rotative"></div>
      </div>
      <div class="center-circle"></div>
    </span>
  </div>
</div>

<div id="menu">
  <div id="menu-header">
    <div class="avatar" {{bindAttr style="Omci.model.user.avatar:background-image:url({{this}})"}}></div>
      {{bind "Omci.model.user.formatedName"}}
  </div>
  <h3>Badges</h3>
  <ul>
    <li {{action "view.goTo" "foursquare" on="tap"}} {{bindAttr data-badge="Omci.model.user.badges.foursquare.length"}} class="is-active">Foursquare</li>
    <li {{action "view.goTo" "cities" on="tap"}} {{bindAttr data-badge="Omci.model.user.badges.cities.length"}}>Cities</li>
    <li {{action "view.goTo" "expertise" on="tap"}} {{bindAttr data-badge="Omci.model.user.badges.expertise.length"}}>Expertise</li>
    <li {{action "view.goTo" "partner" on="tap"}} {{bindAttr data-badge="Omci.model.user.badges.partner.length"}}>Partner</li>
  </ul>
  <h3>Settings</h3>
  <ul>
    {{#if Omci.device.isIos}}
    <li {{action "view.showFeedback" on="tap"}}>Feedback</li>
    {{/if}}
    <li {{action "view.logout" on="tap"}}>Logout</li>
  </ul>
</div>

<div id="container">
  
</div>

