<div id="menu">
  <div id="menu-header">
    <div class="avatar" style="background-image:url({{Omci.model.user.avatar}})"></div>
      {{Omci.model.user.firstName}} {{Omci.model.user.lastName}}
  </div>
  <h3>Badges</h3>
  <ul>
    <li>Foursquare</li>
    <li>Cities</li>
    <li>Expertise</li>
    <li>Partner</li>
  </ul>
</div>

<div id="container">
  <div id="container-header">
    <button type="button" {{action "view.toggleMenu" on="tap"}}>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div id="page">
    <div class="filters">
      <ul>
        <li class="active" {{action "view.sort" on="tap"}} data-sort="nearest">Nearest</li>
        <li {{action "view.sort" on="tap"}} data-sort="easiest">Easiest</li>
        <li {{action "view.sort" on="tap"}} data-sort="level">By level</li>
      </ul>
    </div>

    <ul class="badges">
      {{#each Omci.model.badges.foursquare}}
      <li>
        <div class="illustration" style="background-image:url({{img}})"></div>
        <h4>{{name}}</h4>
        <p>{{details}}</p>
      </li>
      {{/each}}
    </ul>
  </div>
  
</div>