<div id="splash">
  <div id="splash-logo"></div>
  <button id="splash-connect" type="button" {{action "view.login" on="tap"}}>Connect to Foursquare</button>
  <span id="splash-loading" style="display:none">Loading your badges ...</span>
</div>

<div id="menu">
  <div id="menu-header">
    <div class="avatar" {{bindAttr style="Omci.model.user.avatar:background-image:url({{this}})"}}></div>
      {{bind "Omci.model.user.formatedName"}}
  </div>
  <h3>Badges</h3>
  <ul>
    <li {{bindAttr data-badge="Omci.model.user.badges.foursquare.length"}}>Foursquare</li>
    <li {{bindAttr data-badge="Omci.model.user.badges.cities.length"}}>Cities</li>
    <li {{bindAttr data-badge="Omci.model.user.badges.expertise.length"}}>Expertise</li>
    <li {{bindAttr data-badge="Omci.model.user.badges.partner.length"}}>Partner</li>
  </ul>
  <h3>Profile</h3>
  <ul>
    <li {{action "view.logout" on="tap"}}>Logout</li>
  </ul>
</div>

<div id="container">
  <div id="container-header">
    <button type="button" {{action "view.toggleMenu" on="tap"}}>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div id="page"> 
    

    <div class="scrollable">
      <div class="pull-to-refresh">
        <p class="default">Pull down to refresh</p>
        <p class="ok-refresh">Release to refresh</p>
        <p class="loading">Loading ...</p>
      </div>
      <div class="filters">
        <ul>
          <li class="active" {{action "view.sort" on="tap"}} data-sort="nearest">Nearest</li>
          <li {{action "view.sort" on="tap"}} data-sort="easiest">Easiest</li>
          <li {{action "view.sort" on="tap"}} data-sort="level">By level</li>
        </ul>
      </div>
    {{#collection contentBinding="Omci.model.user.badges.foursquare" tagName="ul" classNames="badges"}}
      <div class="illustration" style="background-image:url({{view.content.image}})"></div>
      <h4>{{view.content.name}}</h4>
      <p>{{{view.content.details}}}</p>
    {{/collection}}
    </div>
  </div>
  
</div>

