<div class="container-header">
  <span class="title">Foursquare</span>

  <button type="button" class="toggle-menu" {{action "Omci.rootView.toggleMenu" on="tap"}}>
    <span></span>
    <span></span>
    <span></span>
  </button>

</div>
<div class="scrollable">
  <div class="pull-to-refresh">
    <p class="default">Pull down to refresh</p>
    <p class="ok-refresh">Release to refresh</p>
    <p class="loading">Loading ...</p>
  </div>
  <div class="filters">
    <ul>
      <li class="active" {{action "view.sort" "nearest" on="tap"}}>Nearest</li>
      <li {{action "view.sort" "easiest" on="tap"}}>Easiest</li>
    </ul>
  </div>
  {{#collection content=view.content tagName="ul" classNames="badges"}}
    {{! <div class="test"></div> }}
    <div class="illustration" style="background-image:url({{view.content.image}})"></div>
    <h4>{{view.content.name}}</h4>
    <p>{{view.content.details}}</p>
    <div class="infos">
        <div class="progress" style="width:{{view.content.complete}}%"></div>
        <div class="text">
       <span class="number">{{view.content.more}}</span> <span class="label">
       {{#ifequal view.content.more 1}}
        more check-in
       {{else}}
        more check-ins
       {{/ifequal}}
       </span>  
       </div> 
    </div>
  {{/collection}}
</div>